.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  padding-top: 2rem;
  min-height: 100vh;
}




.navbar ul{
 display: flex;
  justify-content: center;

 
}
.navbar li{
  list-style: none;
  margin-left: 3rem;
  font-weight: 800;
  color: rgb(102, 136, 156);
  
}

.blogs .blog{
  padding-top: 2rem;
}